.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.my-tabs .tabs-header {
  display: flex;
}
.my-tabs .tab {
  display: block;
  cursor: pointer;
  padding: 16px 24px;
}
.my-tabs .tab.active {
  border-bottom: 2px solid orangered;
}
.my-tabs .tab-panel {
  padding: 10px;
  display: none;
}
.my-tabs .tab-panel.active {
  display: block;
}
